.div-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  align-items: flex-start;
  background-color: #f5f5f5;
}
.div-container {
  width: 600px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgb(211, 198, 198);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-div {
  width: 580px;
  height: 50px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
  border-radius: 10px;
}

input {
  width: 65%;
  height: 60%;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}
.btn-addnote {
  width: 20%;
  height: 70%;
  border-radius: 10px;
  background-color: aquamarine;
}
.output-div {
  width: 580px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  background-color: antiquewhite;
  margin-top: 30px;
  border-radius: 10px;
}

.btn-delete {
  background-color: rgb(216, 35, 35);
  color: white;
  width: 80px;
  height: 25px;
  border-radius: 10px;
  flex-shrink: 0;
}
.note-item {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}
.note-item span {
  min-width: 0;
  flex: 1;
  margin-right: 15px;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
